<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="'Новый Tour'"></title>
    <!--/*/ <th:block th:include="fragments/header:: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2  th:text="'Новый объект класса Tour'"></h2>
    <div>

        <form class="form-horizontal" th:object="${tour}" th:action="@{/tour/save}" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">tourId</label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <input type="text" placeholder="Введите значение для tourId" class="form-control" th:field="*{tourId}" th:required="required"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">name</label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <input type="text" placeholder="Введите значение для name" class="form-control" th:field="*{name}" th:required="required"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">description</label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <input type="text" placeholder="Введите значение для description" class="form-control" th:field="*{description}" th:required="required"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">price</label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <input type="text" placeholder="Введите значение для price" class="form-control" th:field="*{price}" th:required="required"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">tourCategoryId</label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <input type="text" placeholder="Введите значение для tourCategoryId" class="form-control" th:field="*{tourCategoryId}" th:required="required"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-default btn-block" th:text="'Сохранить'"></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>