<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="Tour"></title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <a th:href="${'/tour/new'}"> Создать туров</a>
    <div th:if="${not #lists.isEmpty(tours)}">
        <h2> Список туров</h2>
        <table class="table table-striped">
            <tr>

                <th th:text="Имя"></th>
                <th th:text="Описание"></th>
                <th th:text="Цена"></th>
                <th th:text="'Категория тура'"></th>
                <th th:text="'Действия'"></th>

            </tr>
            <tr th:each="tour : ${tours}">
                
                <td th:text="${tour.name}"></td>
                <td th:text="${tour.description}"></td>
                <td th:text="${tour.price}"></td>
                <td th:text="${tour.tourCategory.name}"></td>

                <td>
                    <ul class="list-inline">
                        <li><a th:href="${'/tour/delete/' + tour.getId()}" th:text="Удалить"></a> </li>
                        <li><a th:href="${'/tour/edit/' + tour.getId()}" th:text="Редактировать"></a> </li>
                        <li><a th:href="${'/tour/details/' + tour.getId()}" th:text="Карточка"></a> </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>