<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="'Типы документов'"></title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<a th:href="${'/documenttype/new'}"> Создать новый тип документа </a>
<div th:if="${not #lists.isEmpty(doctypes)}">
    <h2> Список типов документов </h2>
    <table class="table table-striped">
        <tr>

            <th th:text="Id"></th>
            <th th:text="Наименование"></th>
            <th th:text="Действия"></th>

        </tr>
        <tr th:each="doctype : ${doctypes}">

            <td th:text="${doctype.documentTypeId}"></td>
            <td th:text="${doctype.name}"></td>

            <td>
                <ul class="list-inline">
                    <li><a th:href="${'/documenttype/delete/' + doctype.documentTypeId}" th:text="Удалить"></a> </li>
                    <li><a th:href="${'/documenttype/edit/' + doctype.documentTypeId}" th:text="Редактировать"></a> </li>
                    <li><a th:href="${'/documenttype/details/' + doctype.documentTypeId}" th:text="Карточка"></a> </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
</body>
</html>