<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <title>Главная</title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class ="jumbotron">
        <div class="content row">
            <div class="col-sm-9">
                <h2>Турагенство</h2>
                <p>Добро пожаловать на сайт турагенства!</p>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>