<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="'Cписок пользователей приложения'"></title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<a th:href="${'/appusers/new'}"> Создать нового пользователя </a>
<div th:if="${not #lists.isEmpty(appusers)}">
    <h2>Cписок пользователей</h2>
    <table class="table table-striped">
        <tr>

            <th th:text="Id"></th>
            <th th:text="Имя"></th>
            <th th:text="Фамилия"></th>
            <th th:text="'Электронная почта'"></th>
            <th th:text="Логин"></th>
            <th th:text="'Наименование Агента'"></th>
            <th th:text="Действия"></th>

        </tr>
        <tr th:each="appuser : ${appusers}">

            <td th:text="${appuser.Id}"></td>
            <td th:text="${appuser.name}"></td>
            <td th:text="${appuser.surname}"></td>
            <td th:text="${appuser.email}"></td>
            <td th:text="${appuser.login}"></td>
            <td th:text="${appuser.travelAgent.name}"></td>

            <td>
                <ul class="list-inline">
                    <li><a th:href="${'/appusers/delete/' + appuser.Id}" th:text="Удалить"></a> </li>
                    <li><a th:href="${'/appusers/edit/' + appuser.Id}" th:text="Редактировать"></a> </li>
                    <li><a th:href="${'/appusers/details/' + appuser.Id}" th:text="Карточка"></a> </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>