<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="Задачи"></title>

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <a th:href="${'/tasks/new'}" th:text="#{tasks.newTask}"></a>
    <div>
        <h2 th:text="#{menu.tasks}"></h2>
        <table id="tasks" class="table table-striped display" >
            <tr>
                <th th:text="#{tasks.id}">id</th>
                <th th:text="#{tasks.name}">name</th>
                <th th:text="#{tasks.description}">description</th>
                <th th:text="#{tasks.tags}">tag</th>
                <th th:text="#{tasks.parentTask}">parentTask</th>
                <th th:text="#{tasks.user}">user</th>
                <th th:text="#{tasks.condition}">condition</th>
                <th th:text="#{tasks.status}">status</th>
                <th th:text="#{tasks.actions}">action</th>
                <th th:text="#{tasks.spentTime}">spentTime</th>
                <th th:text="#{tasks.SW}">SW</th>
            </tr>
            <script th:inline="javascript">
                $(document).ready(getTable());
            </script>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>